@font-face {
    font-family: "spacemono";
    src: url("https://github.com/afterainesque/random/fonts/SpaceMono-Regular.ttf") format("truetype");
}

body {
    font-family: 'spacemono', sans-serif;
    background-color: black;
    color: white;

    margin: 0 16px 16px 16px;
    line-height: 1;
    width: 75%;
    
    overflow-y: scroll;
    overflow-x: hidden;
}
